@import "tailwindcss";

@keyframes blob {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(20px, -50px) scale(1.1);
  }
  50% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  75% {
    transform: translate(50px, 50px) scale(1.05);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

a.active hr{
    display: block;
}

::-webkit-scrollbar{
    display:none;
}

.container{
    max-width: 1300px;
    margin: 0 auto;
}
.text-gradient {
  background: linear-gradient(90deg,rgba(23, 133, 176, 1) 0%, rgba(87, 199, 133, 1) 66%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}